.component-a{
    /* // margin-top: 0.1em  !important; */
    
}
.menu-row{
    position: fixed !important;
    z-index: 999 !important;
}
.hide{
    /* display: none !important; */
    opacity: 0 !important;
    transition: opacity 1s ease-out !important;
}

@media only screen and (max-width: 768px){
    .logo{
        display: none !important;
    }
    
	/*Big smartphones [426px -> 600px]*/
}