#ComponentC {
  padding-top: 8%;
  min-height: 100vh;
}
.my-photo {
  border-radius: 80px 10px 50px 40px;
  -webkit-filter: grayscale(100%);
  filter: blur(3px) !important;
}
.my-photo:hover {
  filter: blur(0) !important;
}

.about-me-text-part {
  font-size: 19px;
  min-width: 13em !important;
}
