.vertical-send-email::after{
    content: "";
    display: block;
    width: 1px;
    height: 220px;
    margin: 0px auto;
    background-color: rgba(220, 44, 27, 1);
    background-image: linear-gradient(0deg, rgba(220, 44, 27, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.vertical-send-email{
    position:  fixed;
    right: 1em;
    bottom: 0;
}
.vertical-link{
    writing-mode: vertical-lr !important;
     margin-top:    2.4em !important;
     margin-bottom: 1em
}
.vertical-link:hover{
    
    
    color: rgb(255, 160, 144) !important;
margin-bottom: 2.2em !important;
transition:   ease-out !important;
    

}
